
.menu-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    /* border-style: solid;
    border-color: green; */
    min-height: 30px;
}

.menu-container .menu-item {
    min-width: 100px;
    min-height: 20px;
    /* border-style: solid;
    border-color: green; */
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: bold;

}


.menu-left-container img {
    width: 50px;
    margin-right: 0px;
}


@media (max-width: 768px) {
    .menu-container img {
        display: none;
    }

    .menu-container{
        font-size: 0.7rem;
        font-weight: normal;
    }

  }